<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, ya-title=#ffffff, ya-dock=#ffffff"
    />
    <meta name="theme-color" content="#00aca3" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#00aca3" />
    <title>ChatRoulette</title>
    <!-- <link rel="icon" type="image/x-icon" href="favicon.svg">
  <link rel="stylesheet" href="https://alleven.ru/styles/reset.css" type="text/css">
  <link rel="stylesheet" href="https://alleven.ru/styles/grid.css" type="text/css">
  <link rel="stylesheet" href="https://alleven.ru/styles/hello.css" type="text/css">
  <link rel="stylesheet" href="additional.css" type="text/css"> -->

    <style>
      * {
        text-align: center;
      }
      .bg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
      }

      .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }

      .logo {
        width: 300px;
        height: 200px;
      }

      .links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
      }

      .aboutUs{
        max-width: 400px;
      }

      @media (max-width: 600px) {
        .logo {
          width: 200px;
          height: 100px;
        }
      }
    </style>
  </head>

  <body style="background: #b8b8cc">
    <header></header>
    <main>
      <div class="bg">
        <div class="mobile">
          <img class="logo" src="/logo" alt="" />
          <p class="desc">
            Узнай, что происходит вокруг тебя.<br />Участвуй и делись
            впечатлениями
          </p>
          <div class="links">
            <a class="googlePlay" href="https://play.google.com/"
              ><img src="https://alleven.ru/img/google-play.svg" alt=""
            /></a>
            <a class="appStore" href="https://apps.apple.com/am"
              ><img src="https://alleven.ru/img/app-store.svg" alt=""
            /></a>
          </div>
          <div class="aboutUs">
            <h4>О Нас</h4>
            <p style="text-align: justify;">
              Java Team LLC — это команда профессионалов, специализирующихся на
              разработке инновационных мобильных приложений. Наш ИНН: 02846775.
              Мы создаем удобные и функциональные решения, которые делают жизнь
              наших пользователей проще и комфортнее. Наше приложение, доступное
              в App Store и Google Play, предлагает уникальную чат-систему,
              которая позволяет общаться быстро, безопасно и без ограничений.
              Для тех, кто ищет дополнительные возможности, мы разработали
              премиум-пакет, открывающий доступ к эксклюзивным функциям и
              улучшенному опыту использования. Мы гордимся тем, что наши
              продукты помогают людям оставаться на связи, решать задачи и
              получать удовольствие от использования технологий. Java Team LLC
              стремится к постоянному улучшению и внедрению новых идей, чтобы
              оставаться на шаг впереди в мире мобильных технологий. Спасибо,
              что выбираете нас!
            </p>
          </div>
          <!-- <div class="links" style="position: absolute;"> -->
          <a href="/document">Политика Конфиденциальности</a>
          <!-- </div> -->
          <p>&copy;All rights reserved. Java Team LLC</p>
        </div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
